# Environment variables
.env

# SQLite Database files
*.db
*.sqlite
*.sqlite3
pdf_bot_users.db 

# Temporary downloaded PDF
current_daily_document.pdf

# Log files
*.log

# Python virtual environment
venv/
*venv*/ 

# Pycache
__pycache__/
